[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/inanna-malick/hugo-theme-terminal.git
[submodule "public"]
	path = public
	url = git@github.com:inanna-malick/inanna-malick.github.io.git
[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "themes/hugo-theme-relearn"]
	path = themes/hugo-theme-relearn
	url = https://github.com/McShelby/hugo-theme-relearn.git
[submodule "themes/themes/hugo-dynamic-tabs"]
	path = themes/themes/hugo-dynamic-tabs
	url = https://github.com/rvanhorn/hugo-dynamic-tabs
[submodule "themes/hugo-dynamic-tabs"]
	path = themes/hugo-dynamic-tabs
	url = https://github.com/rvanhorn/hugo-dynamic-tabs
