{{- $persona := .Get "persona" -}}
{{- $lens := .Get "lens" -}}
{{- $color := .Get "color" | default "#0085a1" -}}

{{- if not $persona -}}
  {{- errorf "The %q shortcode requires a 'persona' parameter: see %s" .Name .Position -}}
{{- end -}}

<span class="quick-stance" style="border-left-color: {{ $color }};">
  <strong class="quick-stance-persona">As {{ $persona }}{{- if $lens }} ({{ $lens }}){{ end }}:</strong>
  <span class="quick-stance-content">{{ .Inner | .Page.RenderString }}</span>
</span>