{{- $persona := .Get "persona" -}}
{{- $lens := .Get "lens" -}}
{{- $type := .Get "type" | default "PERSPECTIVE" -}}
{{- $emphasis := .Get "emphasis" | default "normal" -}}

{{- if not $persona -}}
  {{- errorf "The %q shortcode requires a 'persona' parameter: see %s" .Name .Position -}}
{{- end -}}

{{- .Page.Scratch.Add "stancecount" 1 -}}
{{- $count := .Page.Scratch.Get "stancecount" -}}

<aside class="stance stance-{{ $emphasis }}" role="complementary" aria-labelledby="stance-{{ .Ordinal }}">
  <div class="stance-header">
    <div class="stance-meta">{{ $count }}. {{ $type }}</div>
    <h4 id="stance-{{ .Ordinal }}" class="stance-persona">
      <strong>{{ $persona }}</strong>{{- if $lens }}, {{ $lens }}{{ end }}
    </h4>
  </div>
  
  {{- if .Inner -}}
  <div class="stance-content">
    {{ .Inner | .Page.RenderString }}
  </div>
  {{- end -}}
</aside>